<div class="container-fluid background-sea">
  <div class="row align-items-center pt-2">
    <div class="col-5">
      <div class="row">
         <app-acceso-line-chart [accesoElectricidadData]="accesoElectricidadData" [title]="lineChart1Title"></app-acceso-line-chart>
      </div>
      <div class="row pt-3">
        <app-bars-chart [title]="columnChartTitle"></app-bars-chart>
      </div>
    </div>
    <div class="col-7 justify-content-center">
      <div class="row">
        <div class="col-8">
          <google-chart [options]="myOptions" [type]="myType" [data]="myData" [columns]="chartColumns" (select)="onSelect($event)"
          [dynamicResize]="false">
          </google-chart>
        </div>
        <div class="col-4 d-flex flex-column align-items-end">
          <app-kpi-card class="w-75 pt-2" [titleLabel]="KPI1title" [value]="KPI1value" [unit]="'porcentaje'"></app-kpi-card>
          <app-kpi-card class="w-75 pt-2" [titleLabel]="KPI2title" [value]="KPI2value" [unit]="'porcentaje'"></app-kpi-card>
          <app-kpi-card class="w-75 pt-2" [titleLabel]="KPI3title" [value]="KPI3value"></app-kpi-card>
          <app-kpi-card class="w-75 py-2" [titleLabel]="KPI4title" [value]="KPI4value"></app-kpi-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-generadores-chart [generadoresData]="generadoresData" [selectedProvince]="selectedProvince"></app-generadores-chart>
        </div>
        <div class="col-6">
          <app-no-electrificado-chart [noElectrificadosData]="noElectrificadosData" [selectedProvince]="selectedProvince"></app-no-electrificado-chart>
        </div>
      </div>
    </div>
  </div>
</div>
