.background-sea{
  background-image: url('../../../assets/background/Sea-Wallpaper.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #81d4fa;
  height: calc(100vh - 45px);
}
