<nav class="navbar navbar-expand-lg bg-primary p-0" data-bs-theme="dark">
  <ul ngbNav #nav="ngbNav" [(activeId)]="tabNumber" class="nav nav-tabs">
    <li [ngbNavItem]="1" class="nav-item" >
      <button ngbNavLink (click)="changeTabNumber(1)" [ngClass]="{active: tabNumber == 1}" >Presentación Cooperación Internacional</button>
    </li>
    <li [ngbNavItem]="2" class="nav-item">
      <button ngbNavLink (click)="changeTabNumber(2)" [ngClass]="{active: tabNumber == 2}" >Dashboard</button>
    </li>
    <li [ngbNavItem]="3" class="nav-item"  >
      <button ngbNavLink (click)="changeTabNumber(3)" [ngClass]="{active: tabNumber == 3}">Solar</button>
    </li>
  </ul>
</nav>
<div [ngbNavOutlet]="nav"><router-outlet></router-outlet></div>
<router-outlet></router-outlet>
