<div class="container-fluid vh-100" style="background-color: #81d4fa;">
  <div class="row align-items-center">
    <div class="col-5">
      <iframe src="https://datos.bancomundial.org/share/widget?end=2021&indicators=EG.ELC.ACCS.ZS&locations=ZJ-DO&start=1991&view=chart" width='450' height='300' frameBorder='0' scrolling="no" ></iframe>
    </div>
    <div class="col-7 justify-content-center">
          <google-chart [options]="myOptions" [type]="myType" [data]="myData" [columns]="chartColumns"></google-chart>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col-3">
      <!-- top 5 regiones mayor indice-->
      <div class="card" style="height: 300px;">
        <div class="card-header">Top 5 Regiones con el mayor indice de pobreza</div>
        <div class="card-body">
          <!-- top 5 regiones mayor indice-->
        </div>
      </div>
    </div>
    <div class="col-3">
      <!-- grafico torta-->
      <div class="card" style="height: 300px;">
        <div class="card-header">Centrales Generadoras</div>
        <div class="card-body">
          <!--grafico torta-->
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-no-electrificado-chart [noElectrificadosData]="noElectrificadosData"></app-no-electrificado-chart>
    </div>
    <div class="col-3">
      <div class="row mb-2">
        <div class="col-6"><app-kpi-card [titleLabel]="indice"></app-kpi-card></div>
        <div class="col-6"><app-kpi-card [titleLabel]="indice"></app-kpi-card></div>
      </div>
      <div class="row">
        <div class="col-6"><app-kpi-card [titleLabel]="indice"></app-kpi-card></div>
        <div class="col-6"><app-kpi-card [titleLabel]="indice"></app-kpi-card></div>
      </div>
    </div>
  </div>
</div>
